$font-stack: Helvetica, sans-serif;
$primary-color: #ffdead;




body {
  font: 100% $font-stack;
  color: $primary-color;
}

.orderResults {
  background-color: pink;


  .orderResults--list {
  	color: red;
  }
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	  -moz-border-radius: $radius;
	   -ms-border-radius: $radius;
	     border-radius: $radius;
};

.box-of-goodies {
  @include border-radius(30px);
}